<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Auto-layout Columns</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <style>
      /* Some custom styles to beautify this example */
      .row {
        margin-top: 1rem;
        background: #dbdfe5;
      }
      .col {
        padding: 10px 15px;
        background: #abb1b8;
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
    </style>
  </head>
  <body>
    <h2 class="text-center mt-3">Bootstrap Responsive Layout</h2>
    <div class="text-center my-3">
      Resize the browser window to understand how the Bootstrap responsive grid
      system works.
    </div>
    <div class="container">
      <!--Row with two equal columns-->
      <div class="row">
        <div class="col">.col</div>
        <div class="col">.col</div>
      </div>

      <!--Row with three equal columns-->
      <div class="row">
        <div class="col">.col</div>
        <div class="col">.col</div>
        <div class="col">.col</div>
      </div>
    </div>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
