<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Responsive Fluid Containers</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
      <h1>This is a heading</h1>
      <p>This is a paragraph of text.</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, suscipit
        sapiente, a doloribus placeat libero sequi dolores facilis provident
        obcaecati dolorem beatae, commodi fugit! Commodi quisquam voluptas
        cupiditate nulla amet! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Quae, eaque dicta? Incidunt dignissimos laudantium
        saepe nemo iure qui consequuntur et eius harum ex sed, unde architecto
        facilis magnam repudiandae totam!
      </p>
    </div>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
